---
---

@import "{{ site.theme }}";
#header {
  display: none;
}
.credits {
  display: none;
}
ul {
  margin: 10px 0;
}
li {
  margin: 5px 0;
}
h2 {
  margin: 20px 0 10px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #1d38c5;
}
body {
  background-color: #111;
  color: #afc1c8;
}
.page-header {
  background-color: #111;
  background-image: linear-gradient(120deg, #0d1b66, #0b5726);
}
.page-header {
  padding: 1rem 1rem;
}

.site-footer {
  display: none;
}
#content > h1:first-child {
  display: none;
}

a {
  color: #4097ef;
}

.main-content code {
  color: #000;
  background-color: #c4c4c4;
}
